<!-- ======= Begin Footer ======= -->
<footer id="footer" class="footer" style="text-align:center;">
    <div class="copyright footer-section f-section-1"> &copy; Copyright <strong><span>DIGILEPTON</span></strong>. Todos
        os direitos reservados <div class="credits">Desenvolvido por <a href="">DigiLepton</a></div>
    </div>
</footer>
<!-- ======= End Footer ======= -->