@{
  ViewData["Title"] = "Home Page";
}

<!-- Begin Page Title -->
<div class="pagetitle">
  <h1>Dashboard</h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.php">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
    </ol>
  </nav>
</div>
<!-- End Page Title -->

<!-- Begin Content -->
<section class="section dashboard">
  <div class="card">
    <div class="card-body">
      <div class="row layout-top-spacing">
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing text-center">
          <div class="widget widget-statistics">
            <div class="dropdown btn-group">
              <a href="javascript:;" id="ddlStatistics" class="btn dropdown-toggle btn-icon-only"
                data-bs-toggle="dropdown" aria-expanded="false"></a>
              <div class="widget-content">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h6>Agendamento</h6>
                    <div style="font-size: 55px;">
                      <a href="agendamento" class="text-primary"><i class="far fa-calendar-alt"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing text-center">
          <div class="widget widget-statistics">
            <div class="dropdown btn-group">
              <a href="javascript:;" id="ddlStatistics" class="btn dropdown-toggle btn-icon-only"
                data-bs-toggle="dropdown" aria-expanded="false"></a>
              <div class="widget-content">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h6>Pastas</h6>
                    <div style="font-size: 55px;">
                      <a href="pastas" class="text-warning"><i class="far fa-folder-open"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing text-center">
          <div class="widget widget-statistics">
            <div class="dropdown btn-group">
              <a href="javascript:;" id="ddlStatistics" class="btn dropdown-toggle btn-icon-only"
                data-bs-toggle="dropdown" aria-expanded="false"></a>
              <div class="widget-content">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h6>Análises</h6>
                    <div style="font-size: 55px;">
                      <a href="analise" class="text-black"><i class="fas fa-user-secret"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing text-center">
          <div class="widget widget-statistics">
            <div class="dropdown btn-group">
              <a href="javascript:;" id="ddlStatistics" class="btn dropdown-toggle btn-icon-only"
                data-bs-toggle="dropdown" aria-expanded="false"></a>
              <div class="widget-content">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h6>Fórum</h6>
                    <div style="font-size: 55px;">
                      <a href="forum" class="text-secondary"><i class="fas fa-gavel"></i></a></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row layout-top-spacing">
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing text-center">
          <div class="widget widget-statistics">
            <div class="dropdown btn-group">
              <a href="javascript:;" id="ddlStatistics" class="btn dropdown-toggle btn-icon-only"
                data-bs-toggle="dropdown" aria-expanded="false"></a>
              <div class="widget-content">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h6>Atendimento</h6>
                    <div style="font-size: 55px;">
                      <a href="agendamento" class="text-danger"><i class="fas fa-blender-phone"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing text-center">
          <div class="widget widget-statistics">
            <div class="dropdown btn-group">
              <a href="javascript:;" id="ddlStatistics" class="btn dropdown-toggle btn-icon-only"
                data-bs-toggle="dropdown" aria-expanded="false"></a>
              <div class="widget-content">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h6>Dinheiro</h6>
                    <div style="font-size: 55px;">
                      <a href="dinheiro" class="text-success"><i class="fas fa-money-check-alt"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card" style="display:none;">
    <h5 class="card-header">Featured</h5>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="display:none;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">Card with header and footer</h5>
      Ut in ea error laudantium quas omnis officia. Sit sed praesentium voluptas. Corrupti inventore consequatur nisi
      necessitatibus modi consequuntur soluta id. Enim autem est esse natus assumenda. Non sunt dignissimos officiis
      expedita. Consequatur sint repellendus voluptas.
      Quidem sit est nulla ullam. Suscipit debitis ullam iusto dolorem animi dolorem numquam. Enim fuga ipsum dolor
      nulla quia ut.
      Rerum dolor voluptatem et deleniti libero totam numquam nobis distinctio. Sit sint aut. Consequatur rerum in.
    </div>
    <div class="card-footer">Footer</div>
  </div>
</section>
<!-- End Content -->
